.event-timestamp {
  display: block;
  font-style: italic;
  font-size: 11px;
  color: @grey;
}

.large {
  font-size: 30px;
  font-weight: bold;
  margin-right: 3px;
  color: @darkGrey;
}

.panel-body-wrapper {
  position: relative;

  .display-mode {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 990;

    li {
      display: inline;
      margin-left: 15px;
    }
  }
}

.map-body {
  position: relative;

  .glyphicon {
    position: absolute;
    font-size: 12px;

    &.glyphicon-edit {
      color: #3aa;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .blue {
    color: blue;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }
}