
.large {
  font-size: 30px;
  font-weight: bold;
  margin-right: 3px;
  color: @darkGrey;
}

.events-body {
  height: 254px;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;

  p {
    font-size: 11px;
    line-height: 12px;
    padding: 5px;
    margin-bottom: 5px;

    &.dose {
      background: #FCC;
    }

    &.prescription {
      background: #FCC;
    }

    &.patient {
      background: #CCF;
    }

    &.user {
      background: #CFC;
    }
  }

  .event-timestamp {
    display: block;
    font-style: italic;
    font-size: 11px;
    color: @white;
    text-align: right;
  }
}

.panel-body-wrapper {
  position: relative;

  .display-mode {
    position: absolute;
    top: -30px;
    right: 15px;
    z-index: 990;

    li {
      display: inline;
      margin-left: 8px;
    }
  }
}

.summary-body {
  font-size: 13px;
}

.patients-body {
  > div {
    font-size: 12px;
    border-bottom: 1px solid @grey;
    padding: 3px 0 2px;
    text-indent: 3px;

    &:nth-child(odd) {
      background-color: @lightGrey;
    }
  }

  p {
    margin-bottom: 0;
  }

  .prescriptions-label {
    color: @darkGrey;
    font-weight: bold;
  }

  .prescriptions {
    font-size: 12px!important;
  }
}

.map-body {
  position: relative;

  .glyphicon {
    position: absolute;
    font-size: 12px;
    color: #CCC;

    &.glyphicon-edit {
      color: #3aa;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .blue {
    color: blue;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }
}