.header-row {
  font-weight: bold;
  border-bottom: 1px solid #333;
  margin-bottom: 2px;
  padding-bottom: 2px;

  > span:hover {
    cursor: pointer;
    color: @primary;
  }
}

.user-row {
  border-bottom: 1px solid #CCC;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.add-user {
  margin: 15px 0;
}