<div class="row">
  <div class="col-md-4 panel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-list"></span> 
        Event Feed
      </div>
      <div class="panel-body">
        body
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-warning-sign"></span> 
          Alerts
        </div>
        <div class="panel-body">
          body
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-dashboard"></span> 
          Statistics
        </div>
        <div class="panel-body">
          body
        </div>
      </div>
    </div>
  </div>
</div>